@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<div class="text-center">
    <div class="card" style="width: 18rem;">
        <img src="https://d33wubrfki0l68.cloudfront.net/29e5a9f358bf7c7dd95fcdf411d0e4590e5dc4c9/170c0/events/2018-belo-horizonte/logo.png" class="card-img-top" alt="DevOps BH">
        <div class="card-body">
            <h5 class="card-title">DevOps BH</h5>
            <p class="card-text">O Maior evento de DevOps do Brasil!</p>
        </div>
    </div>
</div>