@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        
        <div class="card mx-auto" style="width: 400px">
            <img src="@ViewBag.ImageUrl" />
            <div class="card-body">
                <h5 class="card-title">Dog - @ViewBag.Dog</h5>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Obter Imagem</a>
            </div>
        </div>
        
        
    </div>
